<section class="content-header">
	<h1>
		Application
		<small>Streaming Applications</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Application</a></li>
	</ol>
</section>

<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#/application">Applications</a></li>
			<li><a href="#/application/new">New Application</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="application_tab">
				<div class="row">
					<div class="col-xs-12">
						<div class="box-header">
							There are {{applicationList.length}} streaming applications
						</div>
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover" ng-if="applicationList.length > 0">
									<thead>
									<tr>
										<th>Name</th>
										<th>Status</th>
										<th>Mode</th>
										<th>Instance</th>
										<th>Cluster</th>
										<th>Actions</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="application in applicationList track by $index">
										<td><a href="#/application/{{application.uuid}}">{{application.name}}</a></td>
										<td><span class="label label-default">{{application.status}}</span></td>
										<td><span class="label label-default">{{application.mode}}</span></td>
										<td>{{application.instances.length}}/{{application.parallelism}}</td>
										<td><a href="#/cluster/{{application.cluster.uuid}}">{{application.cluster.name}}</a> (type: <span>{{application.cluster.type}} version: {{application.cluster.version}}</span>)</td>
										<td>
											<div class="btn-group btn-group-xs">
												<a class="btn btn-default" ng-click="startApplication(application)">
													<i class="fa fa-play"></i> start
												</a>
												<a class="btn btn-default" ng-click="stopApplication(application)">
													<i class="fa fa-stop"></i> stop
												</a>
												<a class="btn btn-default" ng-click="deleteApplication(application)">
													<i class="fa fa-trash"></i> delete
												</a>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							<blockquote ng-if="applicationList.length === 0">
								There is no streaming application yet, <a href="#/application/new">create one</a> now!
							</blockquote>
						</div>
						<div class="box-footer text-right">
							<a class="btn btn-primary" href="#/application/new">+ New Application</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.tab-pane -->
			<div class="tab-pane" id="application_new_tab">

			</div>
			<!-- /.tab-pane -->
		</div>
		<!-- /.tab-content -->
	</div>
</section>
