<section class="content-header">
	<h1>
		Application
		<small>Log Storm Streaming Processing Application </small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Application</a></li>
	</ol>
</section>

<section class="content">
	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Applications</h3>
		</div>
		<div class="box-body">
			<code>
				<b>TODO:</b> <br/>

				1. List current applications <br/>
				2. Start/Stop/Rescale application <br/>
				3. New application (!most important page, step by step declaration, instead of popup dialog) <br/>
				4. View application (definition detail & execution status)
			</code>

			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Mode</th>
					<th>Cluster</th>
					<th>Pipeline</th>
					<th width="5"></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="application in applicationList track by $index">
					<td>{{application.name}}</td>
					<td>{{application.status}}</td>
					<td>{{application.mode}}</td>
					<td>{{clusters[application.cluster.uuid]}}</td>
					<td><pre>{{application.pipeline}}</pre></td>
					<td><a class="fa fa-trash" ng-click="deleteApplication(application)"></a></td>
				</tr>
				<tr ng-if="applicationList.length === 0">
					<td colspan="6" class="text-muted">[Empty list]</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
