<section class="content-header">
	<h1>
		Application
		<small>New Streaming Application</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#/application">Application</a></li>
		<li><a>New</a></li>
	</ol>
</section>

<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li><a href="#/application">Applications</a></li>
			<li class="active"><a href="#/application/new">New Application</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="application_tab">
			</div>
			<div class="tab-pane active" id="application_new_tab">
				<div class="box-body">
					<div class="form-group">
						<label>Streaming Pipeline</label> <small>Define streaming pipeline with native <a target="_blank" href="https://www.elastic.co/guide/en/logstash/current/config-examples.html">logstash syntax</a>
						and <a href="https://github.com/logstash-plugins">thousands of existing logstash plugins</a></small>
						<textarea class="form-control" rows="8" ng-model="_pipeline" placeholder="input{} filter{} output{}">input{} filter{} output{}</textarea>
					</div>
					<hr/>
					<div class="form-group">
						<label>Application Name</label>
						<input type="text" class="form-control" ng-model="_name" placeholder="Input an unique application name"/>
					</div>
					<div class="form-group">
						<label>Running Mode</label> <small>Run as local or cluster mode</small>
						<select class="form-control" ng-model="_mode">
							<option>CLUSTER</option>
							<option>LOCAL</option>
						</select>
					</div>
					<div class="form-group">
						<label>Deployment Cluster</label> <small>Deploy to an existing physical execution cluster, or <a href="#/cluster/new">create a new one</a></small>
						<select class="form-control" ng-model="_cluster" ng-show="clusterList.length > 0">
							<option ng-repeat="cluster in clusterList track by $index" value="{{cluster.name}}">{{cluster.name}} (type: {{cluster.type}}, version: {{cluster.version}})</option>
						</select>
						<a class="form-control btn btn-danger" href="#/cluster/new" ng-if="clusterList.length ===0">No existing clusters, create one firstly!</a>
					</div>
					<div class="form-group">
						<label>Scale Parallelism</label> <small>Scale by different parallelism level: instance sharding number, input task number, filter task number, output  task number</small>
						<div class="row">
								<div class="col-xs-3">
								<span>Sharding</span> <input class="form-control" type="number" ng-model="_parallelism"/>
								</div>
								<div class="col-xs-3">
								<span>Input</span> <input class="form-control" type="number" ng-model="_input_parallelism"/>
								</div>
								<div class="col-xs-3">
								<span>Filter</span> <input class="form-control" type="number" ng-model="_filter_parallelism"/>
								</div>
								<div class="col-xs-3">
								<span>Output</span> <input class="form-control" type="number" ng-model="_output_parallelism"/>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Advanced Settings</label>
						<textarea class="form-control" rows="2" ng-model="_properties" placeholder="{'key':'value'}"></textarea>
					</div>
				</div>
				<div class="box-footer text-right">
					<button class="btn btn-primary" ng-click="create()" ng-disabled="!_name || !_pipeline">Create</button>
				</div>
			</div>
		</div>
	</div>
</section>
