<section class="content-header">
	<h1>
		Welcome to Streamy
	</h1>
</section>

<!-- Maybe it's about page instead of home page -->
<section class="content">
	<div class="row">
		<div class="col-sm-4">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>Clusters</h3>

					<p>{{clusterList.length}} Clusters</p>
				</div>
				<div class="icon">
					<i class="fa fa-server"></i>
				</div>
				<a href="#/cluster" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="small-box bg-green">
				<div class="inner">
					<h3>Application</h3>

					<p>{{applicationList.length}} Applications</p>
				</div>
				<div class="icon">
					<i class="fa fa-random"></i>
				</div>
				<a href="#/application" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>Instance</h3>

					<p>{{instanceList.length}} Instances</p>
				</div>
				<div class="icon">
					<i class="fa fa-cube"></i>
				</div>
				<a href="#/application" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</div>
</section>
