<section class="content-header">
	<h1>
		Welcome to Streamy
		<small><code>TODO: slogan sentence for Streamy?</code></small>
	</h1>
	<!--<ol class="breadcrumb">-->
		<!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
	<!--</ol>-->
</section>

<!-- Maybe it's about page instead of home page -->
<section class="content">
	<h1>About <small>What's Streamy</small></h1>
	<div>
		<code>TODO: Describe what's Streamy</code>
	</div>
	<h1>Usage <small>How to use Streamy</small></h1>
	<div>
		<code>TODO: Describe what's Streamy</code>
	</div>
	<h1>Use Case <small>Why to use Streamy</small></h1>
	<div>
		<code>TODO: Describe Streamy's use case</code>
	</div>
	<h1>Contributors<small>Who contributes to Streamy</small></h1>
	<div>
		<code>TODO: Describe about contributors</code>
	</div>
</section>
